# ignore all WordPress folders
wp-admin/
wp-includes/
wp-content/plugins/*
wp-content/themes/*
#wp-content/uploads
wp-content/cache
wp-content/upgrade
wp-content/index.php
wp-content/ai1wm-backups
wp-content/wp-rocket-config

# ignore all files in root
/*.*
!sonar-project.properties

# npm e composer
node_modules
.cache
/vendor
wp-content/themes/agenciadreamup/vendor/
wp-content/themes/agenciadreamup/.budfiles/
wp-content/themes/agenciadreamup/node_modules/
wp-content/themes/agenciadreamup/public/

# ignore log files and databases
.phpintel
.htaccess
.DS_Store
*.log
*.sql
*.sqlite
*.zip
*.tgz
*.gz
*.tar
*.tar.gz
*.lock

# files to keep
!.gitignore
!.github/
!README.md
!composer.json
!composer.lock

# themes to keep
# Uncomment to keep these theme
!wp-content/themes/agenciadreamup

# plugins to keep
!wp-content/plugins/advanced-custom-fields-pro
!wp-content/plugins/all-in-one-wp-migration-unlimited-extension
!wp-content/plugins/wp-rocket
