@font-face {
    font-family: 'OCR A Std';
    src: url('OCRAStd.eot');
    src: url('OCRAStd.eot?#iefix') format('embedded-opentype'),
        url('OCRAStd.woff2') format('woff2'),
        url('OCRAStd.woff') format('woff'),
        url('OCRAStd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OCR A Extended';
    src: url('OCRAExtended.eot');
    src: url('OCRAExtended.eot?#iefix') format('embedded-opentype'),
        url('OCRAExtended.woff2') format('woff2'),
        url('OCRAExtended.woff') format('woff'),
        url('OCRAExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

