section.aplicativos {
	padding: 1.5em 0;
	margin: 1em 0 0;
	flex: 1;

	.d-flex {
		flex-direction: column;
	}

	@media screen and (max-width: $small-screen) {
		background-color: #fff !important;
		padding: 0 !important;

		li.slide {
			display: none !important;
			margin-bottom: 0;
		}

		&.active {
			display: flex !important;
		}
	}

	li.slide {
		display: flex;
		margin-bottom: 15px;
	}
}

.setas-slider {
	display: none;
	margin: 1em 0 1.3em;

	div {
		background: #000;
		color: #fff;
		padding: 0.5em 1em;
		font-size: 0.9em;

		&.seta-esquerda {
			margin: 0 auto 0 0;
		}

		&.seta-direita {
			margin: 0 0 0 auto;
		}
	}

	@media screen and (max-width: $small-screen) {
		display: flex;
	}
}
