header {
	background-color: #f0f0f0;
	display: flex;
	position: relative;
	
	@media screen and (min-width: $medium-menu-screen) {
		top: 0;
		position: fixed;
		z-index: 10000000;
		left: 0 !important;
		right: 0 !important;
	}

	@media screen and (max-width: $medium-menu-screen) {
		flex-wrap: wrap;
		padding: 1.5em 0.8em;
		margin-bottom: 20px;
	}

	.custom-logo-link {
		img {
			max-width: 300px !important;
			height: auto;
			margin: 1.2em 0;

			@media screen and (max-width: $medium-menu-screen) {
				height: auto;
				max-height: inherit;
				max-width: 350px!important;
				width: 100% !important;
			}
		}
	}

	.logo {
		display: flex;
		flex-direction: column;
		margin-left: 1.3em;
		position: relative;

		@media screen and (max-width: $medium-menu-screen) {
			flex-direction: column;
			margin: 0 auto;
			height: auto;
			position: relative !important;
		}

		.home {
			@media screen and (max-width: $medium-menu-screen) {
				width: 100%;
			}
		}
	}

	.mega-menu {
		li {
			border: 0 !important;
			border-radius: 15px !important;
			box-shadow: none !important;
			flex: unset;
			height: 4.6em !important;
			margin: 0 5px !important;
			padding: 7px 0 !important;
			width: 8.2em !important;
			background-color: black;

			&:last-of-type {
				margin-bottom: 0 !important;
			}

			&.mega-menu-item-160 {
				&:hover {
					background: #3F51B5 !important;

					.mega-menu-link {
						.mega-title-below {
							color: pink !important;
						}

						&:before {
							color: pink !important;
						}
					}
				}	
			}

			&.mega-menu-item-167 {
				&:hover {
					background: #198754 !important;

					.mega-menu-link {
						.mega-title-below {
							color: burlywood !important;
						}

						&:before {
							color: burlywood !important;
						}
					}
				}	
			}

			&.mega-menu-item-101 {
				&:hover {
					background: #ea580c !important;

					.mega-menu-link {
						.mega-title-below {
							color: #ffd82e !important;
						}

						&:before {
							color: #ffd82e !important;
						}
					}
				}	
			}

			&.mega-menu-item-72 {
				&:hover {
					background: #E91E63 !important;

					.mega-menu-link {
						.mega-title-below {
							color: skyblue !important;
						}

						&:before {
							color: skyblue !important;
						}
					}
				}	
			}

			&.mega-menu-item-160 {
				&:hover {
					background: #F44336 !important;

					.mega-menu-link {
						.mega-title-below {
							color: darkseagreen !important;
						}

						&:before {
							color: darkseagreen !important;
						}
					}
				}	
			}

			.mega-menu-link {
				color: #383838 !important;
				font-size: 28px !important;
				display: flex !important;
				flex-direction: column !important;
				text-align: center !important;
				vertical-align: middle !important;

				&::before {
					margin: 0 !important;
				}

				&:hover {
					background: none !important;
				}

				&.dashicons-heart {
					&:before {
						color: pink !important;
					}

					.mega-title-below {
    					color: pink !important;
					}
				}

				&.dashicons-welcome-widgets-menus {
					&:before {
						color: darkseagreen !important;
					}

					.mega-title-below {
    					color: darkseagreen !important;
					}
				}

				&.dashicons-analytics {
					&:before {
						color: skyblue !important;
					}

					.mega-title-below {
    					color: skyblue !important;
					}
				}

				&.dashicons-lightbulb {
					&:before {
						color: #ffd82e !important;
					}

					.mega-title-below {
    					color: #ffd82e !important;
					}
				}

				&.dashicons-testimonial {
					&:before {
						color: burlywood !important;
					}

					.mega-title-below {
    					color: burlywood !important;
					}
				}
				
			}

			&:hover,
			&:active,
			&.mega-current_page_item {
				background: #383838 !important;
				color: white !important;

				.mega-menu-link {
					background: transparent !important;
					color: white !important;

					span {
						color: white !important;
					}
				}
			}

			span.mega-title-below {
				color: #383838;
				font-size: 13px;
				text-transform: uppercase !important;
				margin-top: 4px;
			}
		}
	}

	nav.nav-primary {
		margin-left: auto;
		align-self: center;

		.mega-menu-wrap {
			background: none !important;
		}

		@media screen and (max-width: $medium-menu-screen) {
			margin: 0 auto;

			.mega-menu {
				display: flex !important;
				flex-flow: wrap;
				width: auto !important;
				max-width: 270px !important;
				margin: 0 auto !important;

				li {
					margin: 30px auto 0 !important;

					@media screen and (min-width: $small-screen) and (max-width: $medium-menu-screen) {
						margin: 0 auto 20px !important;
					}

					@media screen and (max-width: $small-screen) {
						font-size: 10px;
						width: 7em !important;

						span {
							font-size: 10px !important;
						}
					}
				}
			}
		}
	}
}
