a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

input:focus {
    outline: none !important;
    border: 0;
    box-shadow: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
