#personagem .fancybox-opened .fancybox-skin {
    padding: 4px !important;
    margin: 0 !important;
    border-radius: 0 !important;
    height: 100% !important;
    max-height: 100% !important;
    /* max-width: fit-content; */
}

#personagem .fancybox-image {
    width: 100%;
    height: 68%;
    object-fit: fill;
    max-height: 75vh;
    max-width: 100%;
}

#personagem .fancybox-inner {
    width: 100% !important;
    height: 100% !important;
    /* max-width: fit-content; */
}

#personagem .fancybox-wrap {
    width: calc(100% - 40px) !important;
    margin-left: 0px;
    border-radius: 0 !important;
    /* max-width: fit-content; */
    top: 50% !important;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 40px) !important;
    height: auto;
    left: 50% !important;
}

#personagem  .fancybox-outer {
    height: 100%;
    /* max-width: fit-content; */
}

@media (max-width: 1100px)  {
    #personagem .corpo .conteudo .copyright {
        text-align: center;
    }

    #personagem .corpo {
        width: 100%;
        margin: 0;
    }

    #personagem .corpo .dreamupContainer {
        width: 170px;
        right: -60%;
        top: 4.9em;
        height: 0;
    }

    #personagem .corpo img.logo_assistente {
        width: 100%;
    }

    #personagem .corpo .dreamup_logo img {
        width: 100%;
    }

    #personagem .corpo .fundo img.underground {
        width: 48%;
        height: 50px;
        top: 0.8em;
        left: 2em;
        max-width: 300px;
    }
    
    #personagem .corpo .fundo {
        padding-top: 11.3em;
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    #personagem .corpo .conteudo .info {
        top: -6em;
        width: calc(100% + 4em);
        left: -2em;
        padding: 0.2em 0.5em 0.3em;
    }

    #personagem .corpo .conteudo .info .titulo {
        font-size: 10px;
    }

    #personagem .corpo .conteudo .info .texto {
        font-size: 6.6px;
        margin-top: 1px;
    }

    #personagem .corpo .conteudo .controle {
        width: 100%;
        height: auto;
    }

    .page-index#personagem .corpo .conteudo .controle .tituloSecao {
        font-size: 10.6vw !important;
        text-align: center;
        line-height: 15vw;
    }

    #personagem .corpo .conteudo .controle .tituloSecao {
        font-size: 2em !important;
        margin: 0.1em 0 !important;
        line-height: 1.3em;
    }

    #personagem .corpo .conteudo .total {
        right: 1.3em;
    }

    #personagem img.barra {
        width: 100%;
        padding: 0 0.5em !important;
        left: 0;
    }

    #personagem .corpo .conteudo .citacaoContainer .aspas.aspasAbre {
        top: 0.7em;
        left: 0.1em;
    }

    #personagem .corpo .conteudo .citacaoContainer .aspas.aspasFecha {
        bottom: 0.4em;
        top: unset;
        right: 0.1em;
    }

    #personagem .corpo .conteudo .citacaoContainer .citacao {
        width: 100%;
        margin: 0 auto;
        font-size: 0.8em !important;
        padding: 4.5em 2em 4em;
        top: 0 !important;
        margin-top: 0 !important;
        transform: none;
    }

    #personagem .corpo .conteudo .item .imagemContainer .imagem {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }

    #personagem .corpo .conteudo .item {
        flex-direction: column;
        padding: 1em 0.4em;
    }

    .page-index#personagem .corpo .conteudo .item {
        padding: 3em 1em 3.3em !important;
    }

    #personagem .corpo .conteudo .item .imagemContainer {
        max-width: 100%;
        height: auto;
        flex: 1;
        margin-bottom: 0.4em;
        max-height: 100%;
    }

    #personagem .corpo .conteudo .item .imagemContainer figure {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100% !important;
    }

    #personagem .corpo .conteudo .item .descricaoContainer {
        width: 100%;
        margin: 0;
    }

    #personagem .corpo .conteudo .citacaoContainer {
        height: auto !important;
    }

    #personagem .corpo .conteudo .info .osite {
        padding: 1px 0 0;
    }

    #personagem .corpo .dreamup_logo {
        top: -5.6em;
    }
}
    
@media (min-width: 599px) and (max-width: 1100px) {
    #personagem .corpo .conteudo .controle .tituloSecao {
        width: 100%;
        font-size: 2.2vw !important;
        margin: 0.4em 0 0em !important;
        line-height: 2.8vw;
    }
    
    #personagem .corpo .conteudo .controle .tituloSecao span {
        font-size: 2.2vw !important;
        display: inline;
        line-height: 2.8vw;
        margin: 0 !important;
        padding: 0 !important;
    }
    
    #personagem .corpo .conteudo .info {
        width: calc(47% + 1.4em);
        left: -1.4em;
        border-radius: 2px;
        top: -5.4em;
        padding: 0.3em 0.7em 0.5em;
        font-size: 1vw;
    }
    
    #personagem .corpo .conteudo .controle {
        width: calc(53% + 1.8em);
        height: auto;
        margin-right: -1.5em;
        padding-right: 1.9em;
    }
    
    .page-index#personagem .corpo .conteudo .controle .tituloSecao {
        text-align: left;
        font-size: 3vw !important;
        line-height: 3vw !important;
        margin: 8px 0 4px!important;
    }
    
    #personagem .corpo .conteudo .controle .tipo {
        font-size: 10px;
    }
    
    #personagem .corpo .conteudo .total {
        font-size: 7px;
    }
    
    #personagem .corpo .conteudo .info .titulo {
        font-size: 1.5vw;
    }
    
    #personagem .corpo .conteudo .info .texto {
        font-size: 0.9vw;
        font-weight: 600;
    }
    
    #personagem .corpo .fundo img.underground {
        top: 2.5em;
        width: 50% !important;
        max-width: 450px;
    }
    
    #personagem .corpo .dreamupContainer {
        width: 40%;
        top: 6vh !important;
        max-width: 250px;
        right: -64%;
    }
    
    #personagem .corpo img.logo_assistente {
        width: 115%;
    }
    
    #personagem .corpo .dreamup_logo {
        width: 78%;
        right: 4.7em;
        top: -4.9em;
    }
    
    #personagem .corpo .conteudo .controle .total {
        right: 4.3em;
    }
}

@media (min-width: 900px) {
    #personagem .fancybox-wrap {
        max-width: fit-content;
    }
    
    #personagem .fancybox-image {
        width: 100%;
        max-width: fit-content;
    }
}


@media (max-width: 330px) {
    #personagem .corpo .dreamupContainer {
        right: -50% !important;
        width: 60%;
        top: 10.5vh;
    }
    
    #personagem .corpo .fundo {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 70vw;
    }
    
    #personagem .corpo .conteudo .info {
        left: -0.5em;
        width: calc(100% - -1em);
        padding: 0.5em;
        top: -36.5vw;
    }
    
    #personagem .corpo .conteudo .info .titulo {
        font-size: 3vw;
    }
    
    #personagem .corpo .conteudo .info .texto {
        font-size: 2.3vw;
    }

    #personagem .corpo .fundo img.underground {
        max-width: 130px;
        height: 35px;
        left: 1em;
        top: 2em;
        width: 41%;
    }
    
}

@media (max-width: 599px) {
    #personagem .corpo.album-1 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 5.4vw !important;
        margin-bottom: 0;
        display: block;
        line-height: 10.4vw;
    }

    #personagem .corpo.album-1 .conteudo .controle .tituloSecao span:last-of-type {
        line-height: 12vw !important;
        font-size: 12vw !important;
        text-align: right !important;
    }

    #personagem .corpo.album-1 .conteudo .controle .tituloSecao span:nth-of-type(2) {
        font-size: 6vw;
    }
}

@media (max-width: 599px) {
    #personagem .corpo.album-2 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 8vw;
        line-height: 11vw;
        display: block;
    }

    #personagem .corpo.album-2 .conteudo .controle .tituloSecao span:last-of-type {
        font-size: 17vw;
        line-height: 16vw;
        margin-bottom: 13px;
        top: -2vw;
        position: relative;
    }

    #personagem .corpo.album-2 .conteudo .controle .tituloSecao span:nth-of-type(2) {
        font-size: 6.5vw;
        line-height: 11.5vw;
        top: -2.5vw;
        position: relative;
        display: block;
    }

    #personagem .corpo.album-2 .conteudo .controle .tituloSecao {
        text-align: center;
    }

    #personagem .corpo.album-4 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 5vw !important;
        line-height: 5vw;
        margin: 0 !important;
        top: 0;
        position: relative;
    }

    #personagem .corpo.album-4 .conteudo .controle .tituloSecao span:last-of-type {
        top: 0.7vw !important;
        text-align: left;
        font-size: 11vw;
        position: relative;
        margin-bottom: 5vw;
        display: block;
        line-height: 11vw;
    }

    #personagem .corpo.album-5 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 7vw !important;
        margin: 15px 0 18px;
        text-align: right;
        letter-spacing: 2vw;
    }

    #personagem .corpo.album-5 .conteudo .controle .tituloSecao {
        text-align: center;
        padding:3vw 0;
    }
    
    #personagem .corpo.album-5 .conteudo .controle .tituloSecao span:last-of-type {
        font-size: 16vw !important;
        margin: 15px 0 18px;
        text-align: right;
        line-height: 17vw;
        letter-spacing: -1px;
    }

    #personagem .corpo.album-6 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 8vw !important;
    }
    
    #personagem .corpo.album-6 .conteudo .controle .tituloSecao span:last-of-type {
        font-size: 4vw !important;
        margin-left: -15px;
    }
    
    #personagem .corpo.album-6 .conteudo .controle .tituloSecao {
        padding: 2vw 0;
    }

    #personagem .corpo.album-7 .conteudo .controle .tituloSecao span:first-of-type {
        display: inline;
        font-size: 7vw;
        line-height: 7vw;
    }
    
    #personagem .corpo.album-7 .conteudo .controle .tituloSecao span:last-of-type {
        font-size: 7vw;
        display: inline;
        margin-left: -2vw;
        line-height: 7vw;
    }
    
    #personagem .corpo.album-7 .conteudo .controle .tituloSecao {
        padding: 0.5vw 0;
    }
    #personagem .corpo.album-8 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 5vw !important;
        display: block;
        line-height: 5vw;
    }
    
    #personagem .corpo.album-8 .conteudo .controle .tituloSecao span:last-of-type {
        font-size: 8vw !important;
        line-height: 8vw;
        position: relative;
        top: 0vw;
    }
    
    #personagem .corpo.album-8 .conteudo .controle .tituloSecao {
        padding: 4vw 0 2vw;
    }

    #personagem .corpo.album-9 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 9vw !important;
        border-bottom: 4px solid #edbb16;
    }
    
    #personagem .corpo.album-9 .conteudo .controle .tituloSecao span:last-of-type {
        font-size: 4vw !important;
        display: inline;
        margin-left: -11px;
        border-bottom: 4px solid #edbb16;
        border-top: 10px solid;
        padding-bottom: 1.2vw;
    }
    
    #personagem .corpo.album-9 .conteudo .controle .tituloSecao {
        padding: 3vw 0 2.5vw;
    }
    
    #personagem .corpo.album-10 .conteudo .controle .tituloSecao span:last-of-type {
        font-size: 5vw;
        line-height: 4vw;
        top: 2px !important;
        position: relative;
        display: block;
        letter-spacing: 3px;
    }

    #personagem .corpo.album-10 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 8vw;
        display: block;
        line-height: 8vw;
        margin-bottom: 0;
        letter-spacing: 2px;
    }

    #personagem .corpo.album-10 .conteudo .controle .tituloSecao {
        margin: 2vw 0 2vw !important;
        text-align: right;
    }
    
    #personagem .corpo.album-11 .conteudo .controle .tituloSecao span:first-of-type {
        display: block;
    }

    #personagem .corpo.album-11 .conteudo .controle .tituloSecao span:last-of-type {
        display: block;
    }

    #personagem .corpo.album-11 .conteudo .controle .tituloSecao span:nth-of-type(2) {
        display: block;
    }

    #personagem .corpo.album-12 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 4vw;
        margin: 0;
    }
    
    #personagem .corpo.album-12 .conteudo .controle .tituloSecao span:last-of-type {
        font-size: 6vw;
        left: 0;
        position: relative;
    }
    
    #personagem .corpo.album-12 .conteudo .controle .tituloSecao {
        text-align: left;
    }
    
    #personagem .corpo.album-12 .conteudo .controle .tituloSecao span:last-of-type:after {
        content: ":)";
        color: #db090a;
        margin-left: 10px;
        rotate: 90deg !important;
        position: relative;
        display: inline-block;
        font-family: 'OCR A Extended';
        font-size: 4vw;
    }

    #personagem .corpo.album-13 .conteudo .controle .tituloSecao span:last-of-type {
        display: block;
        font-size: 4.9vw;
        letter-spacing: 4.2vw;
        position: relative;
        top: 2px;
        margin: 0 !important;
        line-height: 4.9vw;
        font-family: 'PF1';
    }
    
    #personagem .corpo.album-13 .conteudo .controle .tituloSecao span:nth-of-type(2) {
        font-size: 7vw;
        margin: 0 !important;
        line-height: 9vw;
        font-family: 'PF1';
        letter-spacing: 3px;
    }
    
    #personagem .corpo.album-13 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 8vw;
        margin: 0 !important;
        line-height: 9vw;
        font-family: 'PF1';
    }
    
    #personagem .corpo.album-13 .conteudo .controle .tituloSecao {
        padding: 2vw 0 2vw;
        position: relative;
        display: block;
    }

    #personagem .corpo.album-14 .conteudo .controle .tituloSecao span:first-of-type {
        font-size: 11vw;
        display: block;
        line-height: 11vw;
        margin: 0 !important;
        padding: 0 !important;
    }
    
    #personagem .corpo.album-14 .conteudo .controle .tituloSecao span:nth-of-type(2) {
        font-size: 4vw !important;
        line-height: 4vw !important;
        display: inline-block;
        position: relative;
        top: 1.4vw !important;
    }
    
    #personagem .corpo.album-14 .conteudo .controle .tituloSecao span:last-of-type {
        font-size: 4vw !important;
        line-height: 4vw !important;
        display: inline-block;
        position: relative;
        top: 1.4vw !important;
    }
    
    #personagem .corpo.album-14 .conteudo .controle .tituloSecao {
        line-height: 0;
        padding: 2vw 0 2vw;
    }
}

@media (min-width: 370px) and (max-width: 600px) {
    #personagem .corpo.album-6 .conteudo .controle .tituloSecao span {
        font-size: 7.2vw !important;
        margin: 10px 0px 16px;
    }
}
