$extra-small-screen: 300px;
$small-screen: 565px;
$small-screen-medium: 800px;
$small-screen-large: 900px;
$medium-screen-small2: 990px;
$medium-screen: 1020px;
$medium-menu-screen: 1090px;
$medium-bg-screen: 1200px;
