.lightbox-div {
	position: fixed;
	width: 100%;
	z-index: 10000;
	left: 0;
	top: 0;
	background-color: #000;
	height: 100%;

	@media screen and (max-width: $small-screen) {
		background-color: #000;
		height: 100%;
	}

	img {
		display: none;
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		height: 90%;

		&.active {
			display: block;
		}

		@media screen and (max-width: $small-screen) {
			max-width: 95%;
			height: initial;
			max-height: 90%;
		}
	}

	.setas-lightbox {
		position: relative;
		height: 100%;

		.setas {
			color: #fff;
			font-size: 2em;
			cursor: pointer;
			top: 50%;
			position: absolute;
			transform: translateY(-50%);
			padding: 1em;
			background: rgb(0 0 0 / 10%);

			&.seta-direita {
				right: 10px;
			}

			&.seta-esquerda {
				left: 10px;
			}
		}
	}
}

ul.carrousel {
	padding: 0 !important;
	margin: 20px 0 0;

	@media screen and (max-width: $small-screen) {
		background-color: #2d2d2d;
		margin: 5px 0;
		padding-bottom: 25px !important;
	}

	li.slide {
		display: none;

		&.slide-artes {
			@media screen and (max-width: $small-screen) {
				flex-direction: column;
			}

			&.active {
				display: flex !important;
			}

			.thumbs-container {
				border-bottom: 8px solid #383838;
				border-left: 8px solid #383838;
				border-top: 8px solid #383838;
				flex: 1;
				max-width: 46em;
				min-width: 46em;
				margin: 10px 0;

				@media screen and (max-width: $medium-screen) {
					max-width: auto;
					min-width: auto;
				}

				@media screen and (max-width: $small-screen) {
					order: 2;
					max-width: calc(100% - 20px);
					background-color: black !important;
					width: 100%;
					min-width: auto;
					margin: 10px auto;
					border-right: 6px solid #383838;
				}

				.thumbs {
					display: flex;
					flex-direction: row;
					padding: 0.5em 1.5em;
					background-color: #fff;

					@media screen and (max-width: $small-screen) {
						background-color: #fff !important;
						padding: 1.5em 0.8em;
					}

					@media screen and (max-width: $medium-screen) {
						flex-wrap: wrap;
					}

					img {
						width: 125px;
						height: 125px;
						object-fit: cover;
						border-radius: 3px;
						margin-right: 10px;
						cursor: pointer;

						@media screen and (max-width: $medium-screen) {
							margin-bottom: 10px;
						}

						@media screen and (max-width: $small-screen) {
							width: 100%;
							margin-bottom: 20px;
							height: auto;
						}
					}
				}
			}

			.categoria {
				margin: 10px 0;
				background-color: #383838;
				color: #f0f0f0;
				font-size: 14px;
				font-weight: 200;
				text-transform: uppercase;
				padding: 0 20px;
				flex: 1;

				@media screen and (max-width: $medium-screen) {
					max-width: 18em;
				}

				@media screen and (max-width: $small-screen) {
					max-width: 100% !important;
					display: block;
					order: 1;
					flex: 0 0 10em !important;
					background-color: #383838 !important;
					margin: 0 !important;
				}

				span.categoria-nome {
					max-width: 15em;
					display: block;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}

		&.slide-site-apps {
			@media screen and (max-width: $small-screen) {
				flex-direction: column;
			}

			&.active {
				display: flex !important;
			}

			.post-thumbs-container {
				/* border-radius: 10px; */
				border-bottom: 8px solid #383838;
				border-top: 8px solid #383838;
				border-left: 8px solid #383838;
				flex: 0 0 250px;
				margin: 10px 0;

				@media screen and (max-width: $medium-screen) {
					flex: 1;
					max-width: 270px;
				}

				@media screen and (max-width: $small-screen) {
					background-color: #000 !important;
					margin: 15px auto 0;
					max-width: calc(100% - 20px);
					order: 2;
					width: 100%;
					border-right: 8px solid #383838;
				}

				.post-thumb {
					display: flex;
					flex-direction: row;

					/* padding: 1em 1.5em; */
					background-color: #fff;

					/* max-height: 270px; */
					height: 100%;

					@media screen and (max-width: $small-screen) {
						/* padding: 1.5em 0.8em; */
						background-color: #fff !important;
					}

					@media screen and (max-width: $medium-screen) {
						flex-wrap: wrap;
						height: 100%;
					}

					img {
						/* border-radius: 10px; */
						height: 100%;
						margin: 0 auto;
						object-fit: fill;
						width: 100%;

						@media screen and (max-width: $small-screen) {
							width: 100%;
							height: auto;
						}

						@media screen and (max-width: $medium-screen) {
							/* border-radius: 10px; */
							height: 100%;
							margin: 0 auto;
							object-fit: cover;
							width: 100%;
						}
					}
				}
			}

			.post {
				background-color: #383838;
				color: #f0f0f0;
				font-size: 14px;
				font-weight: 200;
				padding: 0 20px;
				margin: 10px 0;
				flex: 1;
				max-width: 30em;

				@media screen and (max-width: $medium-screen) {
					max-width: 30em;
					padding: 20px;
				}

				@media screen and (max-width: $small-screen) {
					max-width: 100% !important;
					display: block;
					order: 1;
					flex: 0 0 10em !important;
					background-color: #383838 !important;
					margin: 0 !important;
				}

				span.post-desc-title {
					display: block;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					text-align: center;
					margin: 0 auto;

					.post-desc {
						font-weight: 300;
						font-family: "Open Sans", sans-serif;
					}

					.post-title {
						text-transform: uppercase;
						font-size: 24px;
						color: #57de4b;
					}

					@media screen and (max-width: $small-screen) {
						text-align: left !important;
						padding: 40px 10px;
					}
				}
			}

			.infos {
				background-color: #525252;
				color: #f0f0f0;
				flex: 1;
				font-size: 14px;
				font-weight: 200;
				margin: 10px 0;
				padding: 0 40px;

				@media screen and (max-width: $medium-screen) {
					max-width: 30em;
				}

				@media screen and (max-width: $small-screen) {
					background-color: #525252 !important;
					display: block;
					flex: 0 0 10em !important;
					max-width: calc(100% - 20px) !important;
					order: 2;
					margin: 0 auto !important;
					width: 100%;
					padding: 0 20px !important;
				}

				.infos-container {
					margin: 0 auto;
					padding: 35px 0;
					text-align: left !important;
					width: 100% !important;
					max-width: 100%;
					top: 50%;
					position: relative;
					transform: translateY(-50%);

					.info-desc {
						font-weight: 300;
						font-size: 11px;
					}

					.info-title {
						font-weight: 600;
						font-size: 17px;
					}

					.info-cargo {
						margin: 0 0 15px;
						display: block;
					}

					.info-site {
						~.info-cargo {
							margin: 15px 0 !important;
						}
					}

					@media screen and (max-width: $small-screen) {
						text-align: left !important;
						padding: 40px 0;
						margin: 0 auto;
						top: 50%;
						position: relative;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}
