a:link {
text-decoration:none;
}
a:visited {
text-decoration:none;
}
a:hover {
text-decoration:none;
}
a:active {
text-decoration:none;
}

#amarelo {
color: #edbb16; 
}
#amarelo:hover {
	color: #ff0000;
}

#vermelho {
	color: #ff0000;
}

.vermelho {
	color: #ff0000;
}

#texto {
	font-family: PF1;
	font-size: 10px;
}

#titulo {
font-family: PF1;
font-size:14px; 
text-decoration: underline;
font-weight:bold;
}

#historia {
font-family: PF2; 
font-size:16px; 
color: #edbb16; 
position:relative; 
margin-left: 10px;;
}

#pedacos {
font-family: PF2; 
font-size:30px; 
color: #edbb16;
position:relative; 
margin-left: 10px;
font-weight:bold
}


#pedacos2 {
font-family: PF2; 
font-size:20px; 
color: #edbb16;
position:relative; 
margin-left: 10px;
font-weight:bold
}

#titulo2 {
font-family: PF1; 
font-size:8px; 
color: #ff0000;
position:absolute; 
margin-left: -123px; 
margin-top: -22px;
font-weight:bold;
width: 200px;
}

#total {
font-family: PF1; 
font-size: 8px; 
color: #ff0000;
position: absolute; 
margin-left: 570px; 
margin-top: -45px;
font-weight:bold;
width: 300px;
}

#titulo3 {
font-family: PF1; 
font-size:16px; 
color: #ffffff;
position:relative;	
margin-top: -14px;
font-weight:bold;
line-height: 24px;
}

#titulo3 a {
font-family: "PF1";
}

#titulo33 {
font-family: PF1; 
font-size:12px; 
color: #ffffff;
font-weight:bold;
line-height: normal;
}

#titulo4 {
font-family: PF1; 
font-size:16px; 
color: #FFFFFF;
position:relative;	
margin-top: -14px;
text-decoration: none;
font-weight:bold;
}

#titulo2a {
font-family: PF1; 
font-size:8px; 
color: #ff0000;
position:absolute; 
margin-left: 60px; 
margin-top: -22px;
font-weight:bold;
width: 200px;
}

#titulo2b {
font-family: PF1; 
font-size:8; 
color: #ff0000;
position:absolute; 
margin-left: -110px; 
margin-top: -30px;
font-weight:bold;
width: 200px;
}

#padding {
padding:1px 1px 1px 6px;
vertical-align: top;
display: table-cell;
}


#bmaissobre {
font-family: PF1; 
font-size:8px; 
color: #ffb400;
position:absolute; 
margin-left: 510px;
margin-top: 340px;
font-weight:bold;
min-width: 82px;
}



#bcomprarcamiseta {
font-family: PF1; 
font-size:14px; 
color: #ffb400;
position:absolute; 
margin-top: 310px;
margin-left: 510px;
font-weight:bold;
width: 200px;
float: right;
}

#bpreco2 {
font-family: PF1; 
font-size:14px; 
background-color: #3b5a9b;
color: #FFFFFF;
position:absolute; 
margin-top: 300px;
margin-left: 510px;
font-weight:bold;
padding:6px;
min-width: 100px;
float: right;
}

#btextocamiseta {
font-family: PF2; 
font-size:10px; 
color: #ffffff;
width:310px;
height:260px;
overflow:hidden;
font-weight:bold;
float: right;
}

#btextocamiseta2 {
font-family: PF2; 
font-size:10px; 
color: #ffffff;
width:310px;
height:260px;
font-weight:bold;
float: right;
position: absolute;
margin-left: 510px;
}

.bfotos {
border-color: #000000; 
border-style:solid; 
border-width:4px;
max-width: 500px;
max-height: 400px;
width: auto;
height: auto;
}

.bfotos2 {
border-color: #000000; 
border-style:solid; 
border-width:4px;
max-width: 500px;
max-height: 400px;
display: none;
}

#bbasefotos {
width: 500px;
height: 400px;
background-color: #000000;
vertical-align: middle;
display: table-cell;
}

#bbasefotos2 {
width: 500px;
height: 400px;
background-color: #0f0f0f;
float: left;
}

#bfotosbase {
width: 800px;
height: 415px;
margin-left: 105px;
}

.load {
color: #FFF;
font-family: PF1;
font-size: 12px;
cursor: pointer;
}

td {
position: relative;
}

span#titulo2 a {
font-family: PF1;
font-size: 8px;
}

span#titulo2a a {
font-family: PF1;
font-size: 8px;
}

tr:not(.content) {
    line-height: 0;
}

tr.content {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

div#btextocamiseta2 div {
    font-family: PF2;
}

.line-height-auto {
    line-height: normal;
}
